button{
    outline: none;
    background: var(--acc);
    color: #fff;
    border: none;
    padding: 0.6rem 1.6rem;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
    &.secondary{
        border: 2px solid var(--acc);
        background: none;
        color: var(--acc);
    }
    &.naked{
        border: none;
        background: none;
        color: var(--acc);
        padding: unset;
        margin: 0.5rem;

    }
}