button{
    outline: none;
    border: none;
    padding: .25rem 2.25rem;
    border-radius: .25rem;
    min-height: 2.75rem;
    font-size: .9375rem;
    background: var(--text-color);
    cursor: pointer;
    color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:disabled{
        opacity: 0.4;
        color: var(--shade);
    }

    > i {
        position: absolute;
        left: 0.5rem;
    }

    &:hover{
        opacity: 0.8;
    }
    &.secondary{
        border: 2px solid var(--acc);
        background: none;
        color: var(--acc);
    }
    &.naked{
        border: none;
        background: none;
        color: var(--acc);
        padding: unset;
        margin: 0.5rem;
    }
    &.cancel{
        border: 2px solid var(--err);
        background: none;
        color: var(--err);
    }
}