form{
    
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: auto auto;

    .form-group{
        width: 100%;
        input{
            width: 100%;
            border: 1px solid #dbdbdb;
            outline: none;
            padding: 1rem 0.85rem;
            border-radius: 4px;
        }
    }

}