:root{
    // Theme colors to be altered by JS.
    // Variables to be used in components. Initiated with default values.
    --bg: #fff;
    --lightershade: #FAFAFA;
    --lightshade: #F5F5F5;
    --shade: #D9DBDF;
    --darkshade: #6E6E6E;
    --text-color: #202020;
    --acc: #1a73e8;
    --err: #E8002F;
}