.pages {
  display: flex;
  mat-card {
    max-width: 300px;
    min-height: 200px;
    margin: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    mat-card-cations {
        align-self: end;
    }
  }
}
