@import 'shared';

:host{
    display: grid;
    min-height: 100vh;
    margin: auto auto;
    grid-template-areas: "header" 
                            "main"
                            "nav";
    grid-template-rows: auto 1fr auto;
    @include tablet{
        grid-template-areas: "header"
                            "main";
        grid-template-rows: auto 1fr;
    }


    header{
        grid-area: header;
        z-index: 99;
        height: 60px;
    }

    main{
        background: var(--bg);
        grid-area: main;
        overflow-y: auto;
        overflow-x: hidden;
    }

    nav{
        grid-area: nav;
        height: 55px;
    }

    // Absolute positioning for router outlet.
    /deep/ router-outlet ~ * {
        position: absolute;
        width: calc(100vw - 32px);
        margin-left: 16px;
        margin-right: 16px;
    }

}