.users-table {
  table {
    width: 100%;
  }
}

.lockedRow {
  background-color: #ffa3a3;
}

.unlockBtn {
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  .btn {
    margin: 1em;
    max-width: 150px;
  }
}
