@import 'shared';

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    padding: 0.375rem 0.75rem;
    @include from($tablet){
        height: 70px;
        justify-content: flex-start;
        padding-right: 30px;
        padding-left: 30px;
    }

    // Theming.
    @include theme(".dark"){
        .header{
           background: var(--darkshade);
           border-bottom: 1px solid var(--lightershade);
           @include from($tablet){
               border-bottom: none;
           }
           .breadcrumb{
               color: var(--text-color);
           }
        }
    }
    // Theming.
    @include theme(".default"){
        .header{
           background: black;
           .breadcrumb{
            color: var(--bg);
        }
        }
    }

    .apptitle{
        font-size: 1.5rem;
        color: white;
        user-select: none;
    }

    .login{
        background: #fff;
        color: black;
        position: absolute;
        right: 1rem;
    }
    .admin {
        position: absolute;
        right: 1rem;

    }
}