@import 'shared';

:host{
    padding-top: 32px;
}

.signup{
    max-width: 450px;
    margin: auto auto;
    border: 1px solid var(--shade); 
    border-radius: 8px;
}

.signup_title{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    > span{
        font-size: 1.5rem;
        font-weight: lighter;
    }
}