<div class="dashboard">

  <div class="vehicle">
    
    <div class="vehicle_option vehicle_option--current">
      <span class="icon"></span>
      <span class="info">
        <span class="model">TOYOTA AYGO 1.0 VVT-i</span>
        <span class="details">
          <span class="license">AZ92432</span>
          <span class="year">2015</span>
        </span>
      </span>
      <span class="dropdown"></span> 
    </div>
    
    <div class="vehicle_list">
    
      <div class="vehicle_option"></div>
    
    </div>
  </div>


</div>