.dashboard{

    .vehicle{
        height: 60px;
        width: calc(100% + 32);
        margin-left: -16px;
        margin-right: -16px;
        position: relative;

        .vehicle_option{

            &.vehicle_option--current{
                z-index: 2;
                position: relative;
            }

            background: var(--shade);
            cursor: pointer;
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            > span{height: 100%}
            .icon{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                flex-shrink: 0;
                > img{
                    width: calc(100% - 1rem);
                    -webkit-filter: invert(1);
                    filter: invert(1);
                }
            }
            .info{
                overflow: hidden;
                display: flex;
                flex-direction: column;
                padding: .5rem .8rem;
                padding-right: 12px;
                justify-content: center;
                .model{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: .75rem;
                    font-weight: normal;
                    margin-bottom: 5px;
                }
                .details{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: .625rem;
                    font-weight: lighter;
                    opacity: 0.5;
                    .license{

                        &::after{
                            content: " · ";
                        }

                    }
                    .year{

                    }
                }
            }
            .dropdown{
                margin-left: auto;
                margin-right: 14px;
                width: 0; 
                height: 0; 
                opacity: 0.5;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid var(--text-color);
            }
        }

        .vehicle_list{
            max-height: calc(100vh - 60px - 60px);
            overflow-y: scroll;
            position: absolute;
            z-index: 1;
            top: 60px;
            left: 0;
            right: 0;
        }
    }


}