<div class="dashboard">

    <div class="status_container">
        <div class="status" [ngClass]="connected ? 'active' : 'inactive'">
            <div *ngIf="connected; else notConnected">
                <i class="material-icons">wifi</i>
                Connected to Toyota Aygo
            </div>
            <ng-template #notConnected>
                <div>
                    <i class="material-icons"> wifi_off </i>
                    Connecting to your vehicle...
                </div>
            </ng-template>
        </div>
    </div>

    <div class="velocity">
        <span class="value">
            <span *ngIf="!vehicleData.velocity">...</span>
            {{ vehicleData.velocity }}
        </span>
        <span class="unit">KM/H</span>
    </div>

 


</div>