.dashboard{

    position: relative;

    .status_container{
        user-select: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 26px;
        .status{
            position: fixed;
            height: 26px;
            > i {
                font-size: 18px;
                margin-right: 8px;
            }
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #1DB954;
            color: var(--text-color);
            font-size: 0.75rem;
        }
       
    }

    .velocity{
        width: 100%;
        color: var(--text-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .value{
            height: 121px;
            font-size: 6rem;
            text-shadow: 0 0 16px rgba(255,255,255,.16);
        }
        .unit{
            font-size: 0.875rem;
            color: #D6D6D6;
        }
    }


}