.dashboard{


    .velocity{
        width: 100%;
        color: var(--text-color);
        text-align: center;
        position: relative;
        height: 86px;
        .value{
            font-size: 5rem;
            text-align: right;
            position: absolute;
            left: 0;
            right: 30%;
            top: 50%;
            transform: translateY(-50%);
        }
        .unit{
            position: absolute;
            right: 0;
            left: 70%;
            text-transform: uppercase;
            font-size: 0.875rem;
            text-align: left;
            bottom: 7px;
        }
    }


}