// Import
@import 'styles/shared';
@import 'styles/font';


/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    font-family: $family-sans-serif;
    transition: background-color 300ms cubic-bezier(.16,1.08,.38,.98), border-color 300ms cubic-bezier(.16,1.08,.38,.98);
    &.displayNone{
        display: none;
    }
}

// Rubrics.
h1, h2, h3, h4, span, p{
    color: var(--text-color);
}

html{
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
}

// Site width
.container{
    max-width: 1032px;
    margin: auto auto;
}