@import 'shared';

:host{
    user-select: none;
    flex: 1;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    width: 100%;
    padding: 0.375rem 0.75rem;
    background: var(--lightershade);
    border-top: 1px solid var(--shade);
    justify-content: space-around;
    @include from($tablet){
        width: auto;
        height: 70px;
        padding-right: 30px;
        padding-left: 30px;
        justify-content: flex-start;
        background: var(--bg);
        border-top: none;
    }
    @include theme(".dark"){
        .nav{
           background: var(--darkshade);
           @include from($tablet){
               border-bottom: none;
           }
        }
    }
    .nav_item{
        text-decoration: none;
        opacity: 0.5;
        color: var(--text-color);
        &.active{
            opacity: 1;  
            color: var(--text-color);
        }
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        @include from($tablet){
            font-weight: 800;
            flex: unset;
            padding-left: 1.325rem;
            &:first-child{
                padding-left: 0;
            }
        }
        font-size: 1.25em;
        
        cursor: pointer;

        .icon{
            @include from($tablet){
                display: none;
            }
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            text-align: center;
            
            i{
                position: relative;
                vertical-align: middle;
                width: 24px;
                height: 24px;
            }
    
            .string--small{
                font-size: 0.5em;
            }
        }

        .string{
            font-size: 1.125rem;
            @include until($tablet){
                display: none;
            }
        }
    }
}