@import 'shared';

:host{
    user-select: none;
    flex: 1;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
    width: 100%;
    padding: 0.375rem 0.75rem;
    justify-content: space-around;
    @include from($tablet){
        width: auto;
        height: 70px;
        padding: 0 30px;
        justify-content: flex-start;
    }

    // Theming.
    @include theme(".dark"){
        .nav{
           background: var(--darkshade);
        }
    }
    // Theming.
    @include theme(".default"){
        .nav{
           background: black;
           .nav_item{
               color: white;
               &:hover{
                opacity: 1;
                color: var(--acc);
            }
           }
        }
    }


    
    .nav_item{
        text-decoration: none;
        opacity: 0.5;
        height: 100%;
        color: var(--text-color);
        transition: all 200ms ease;
        font-size: 1.25em;
        cursor: pointer;
        &.active{
            opacity: 1;  
            color: var(--text-color);
        }
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        @include from($tablet){
            &.active{
                box-shadow: inset 0 -6px 0 0 var(--acc);
            }
            font-weight: 800;
            flex: unset;
            padding: 0 1.325rem;
            &:hover{
                opacity: 1;
                color: var(--acc);
            }
        }
        .icon{
            @include from($tablet){
                display: none;
            }
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            text-align: center;
            
            i{
                position: relative;
                vertical-align: middle;
                width: 24px;
                height: 24px;
            }
    
            .string--small{
                font-size: 0.5em;
            }
        }

        .string{
            font-size: 1.125rem;
            @include until($tablet){
                display: none;
            }
        }
    }
}